<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Pagina Inicial</title>
</head>
<body>
    <div class="top-bar">
        <img src="{{url_for('static',filename='assets/unb.logo.svg')}}" alt="Logo">
        <div class="bar-content">
          <h1>Sistema de Avaliação de Disciplinas e Professores da UnB</h1>
        </div>
        <div class="personal-image">
            <label class="label">
                <figure class="personal-figure">
                    <img src="assets/icon.png" alt="icon" class="personal-avatar">
                    <figcaption class="personal-figcaption">
                        <img src="#" alt="">
                    </figcaption>

                </figure>
            </label>
        </div>
    </div>










</body>
</html>